@import 'fonts.css';

:root {
    --m-m: 'Montserrat-Medium';
    --ns-r: 'NunitoSans-Regular';
    --ws-r: 'WorkSans-Regular';
}

/* *************************************** */
/* ------------- header start ------------ */

a {
    text-decoration: none;
}

.icon {
    font-size: 30px;
    color: #38a361;
}

.navbar-toggler{
    border: 1px solid ;
}

.navbar-toggler:active{
    border: 1px solid #007d2f;
}

.navbar-toggler:focus{
    outline: none;
}

.header__nav-link {
    font-family: var(--m-m);
    font-size: 12px;
    color: #191919;
    margin: 0 16px;
    text-transform: uppercase;
}

.header__nav-link:hover {
    text-decoration: none;
    color: #007d2f;
}

.about {
    color: #007d2f;
}

.header__center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 110px;
    background: #323232;
}

.header__center-title {
    font-family: var(--m-m);
    font-size: 61.69px;
    color: white;
}

.header__center-text {
    font-family: var(--ns-r);
    font-size: 22.52px;
    color: white;
}

/* *************************************** */

.header__end {
    padding-bottom: 75px;
    background: #007d2f;
}

.header__end-box {
    margin-top: 60px;
}

.header__end-icon {
    font-size: 35px;
    color: white;
}

.header__end h4 {
    font-family: var(--m-m);
    font-size: 18.44px;
    color: white;
    margin: 10px 0;
}

.header__end p {
    font-family: var(--m-m);
    font-size: 12.29px;
    color: white;
    text-transform: uppercase;
}

/* ------------- header end -------------- */
/* *************************************** */
/* ------------ section start ------------ */

section {
    background: #f5f5f5;
}

.section-title {
    font-family: var(--m-m);
    font-size: 30px;
    margin-bottom: 6px;
    color: #171717;
}

.section__img {
    width: 100%;
}

.section-text {
    font-family: var(--ns-r);
    font-size: 16px;
    color: #787878;
    margin-top: 34px;
}

.section__set{
    margin: 0;
}



/* ------------- section end ------------- */
/* *************************************** */
/* -------------- main start ------------- */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 105px;
    padding-bottom: 122px;
}

.main__title {
    font-family: var(--m-m);
    font-size: 30px;
    color: #1d1d1d;
    margin-bottom: 40px;
}

.main__text {
    font-family: var(--ns-r);
    font-size: 16px;
    color: #787878;
    margin-bottom: 60px;
}

.main__btn {
    padding: 23px 42px;
    color: white;
    text-transform: uppercase;
    background: #007d2f;
    font-family: var(--m-m);
    font-size: 12px;
    transition: 0.5s;
}

.main__btn:hover {
    text-decoration: none;
    padding: 28px 47px;
    color: white;
}

/* --------------- main end -------------- */
/* *************************************** */
/* ------------- footer start ------------ */

footer {
    background: #141414;
    padding-top: 109px;
    padding-bottom: 90px;
}

.footer__title {
    font-family: var(--m-m);
    font-size: 17.66px;
    color: white;
}

footer p {
    font-size: 14.72px;
    color: #bcbcbc;
}

footer a {
    font-family: var(--ns-r);
    font-size: 14.72px;
    color: #bcbcbc;
    line-height: 23px;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

.footer__flex{
    justify-content: space-between;
}

/* -------------- footer end ------------- */
/* *************************************** */
/* ------------- media start ------------- */

@media (max-width: 1186px) {
    
    .header__center-text {
        font-size: 15px;
    }
    
    .header__center-title {
        font-size: 48px;
    }
}

@media (max-width:992px) {
    
    .navbar-collapse{
        background: #007d2f;
        border-radius: 12px;
    }
    
    .header__nav-link {
        color: #ffffff;
    }
    
    .nav-item{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .header__nav-link:hover{
        color: greenyellow;
    }
    
    .header__end {
        padding-bottom: 55px;
    }

    .section-text {
        font-size: 14px;
    }
    
    .footer__box {
        margin-top: 40px;
    }

    footer {
        padding-top: 95px;
        padding-bottom: 75px;
    }
    
    .footer_right{
        text-align: end;
    }
    
    .footer__flex{
        justify-content: center;
    }

}

@media (max-width:768px) {
    
    .header__center-title {
        font-size: 42px;
    }

    .header__center-text {
        font-size: 14px;
    }
    
    .section-title {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .section-text {
        margin-top: 0;
        font-size: 13px;
    }
    
    main {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    footer p {
        font-size: 13px;
        color: #bcbcbc;
    }
    
    .footer__title {
        font-size: 16px;
    }
    
    footer {
        padding-top: 80px;
        padding-bottom: 70px;
    }
    
}

@media (max-width: 708px) {
    
    .section-title {
        font-size: 23px;
        margin-bottom: 5px;
    }
    
    .section-text {
        font-size: 12px;
    }
    
    main {
        padding-top: 90px;
        padding-bottom: 95px;
    }
    
    .main__title {
        font-size: 28px;
        margin-bottom: 28px;
    }
    
    .main__text {
        font-size: 15px;
        margin-bottom: 55px;
    }
    
    .header__end-icon {
        font-size: 30px;
    }
    
    .header__end h4 {
        font-size: 15px;
        margin: 7px 0;
    }
    
    .header__end-box {
        margin-top: 45px;
    }
    
    .header__end {
        padding-bottom: 45px;
    }
    
}

@media (max-width: 576px) {
    .section-text {
        font-size: 13px;
    }
    
    .section-title {
        font-size: 23px;
        margin-bottom: 8px;
        margin-top: 30px;
    }
    
    section{
        padding-bottom: 15px;
    }
    
    .main__text {
        font-size: 14px;
        margin-bottom: 40px;
    }
    
    .main__title {
        font-size: 25px;
        margin-bottom: 25px;
    }
    
    main {
        padding-top: 60px;
        padding-bottom: 75px;
    }
    
    .footer__center{
        align-items: center;
    }
}

@media(max-width:386px){
    footer p {
        font-size: 12px;
    }
    
    footer a {
        font-size: 14px;
    }
    
    .left__title {
        font-size: 24px;
    }
    
    .left_p, .left_a {
        font-size: 13.5px;
    }
    
    .carousel-control-prev, .carousel-control-next {
        padding: 35px 0;
    }
    
    .carousel-indicators {
        bottom: 28px;
    }
}